﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Product Information</h1>
    <div style="padding:20px;border:solid medium black; font-size: 20pt">
        @RenderBody()
    </div>
    <h2>Hello there!</h2>
</body>
</html>
