﻿@model WorkingWithRazor.Models.Product

@{
    ViewBag.Title = "DemoExpression";
}

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Prica</td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>Stock level</td>
            <td>@switch ((int)ViewBag.ProductCount)
            {
                case 0:
                    @:Out of stock!
                    break;
                case 1:
                    <b>Low stock(@ViewBag.ProductCount)</b>
                    break;
                default:
                    @ViewBag.ProductCount
                    break;
            }

            </td>
        </tr>
    </tbody>
</table>

<div data-discount="@ViewBag.ApplyDiscount"
     data-Express="@ViewBag.ExpressShip"
     data-supplier="@ViewBag.Supplier">
</div>

Discount:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
Express:<input type="checkbox" checked="@ViewBag.ExpressShip" />
Supplier:<input type="checkbox" checked="@ViewBag.Supplier" />
