﻿@model NaukaMVC4.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary();
        <p>Your name: @Html.TextBoxFor(x => Model.Name)</p>
        <p>Tour email: @Html.TextBoxFor(x => Model.Email)</p>
        <p>Your phone: @Html.TextBoxFor(x => Model.Phone)</p>
        <p>
            Will you Attend?
            @Html.DropDownListFor(x => Model.WillAtend, new[] {
            new SelectListItem() {Text ="Yes I Will!",
                Value = bool.TrueString },
            new SelectListItem() {Text ="No I can't",
                Value = bool.FalseString }},
                "Chose an option")
            <input type="submit" value="Submit RSVP" />
        </p>
    }
    <div>
    </div>
</body>
</html>
