﻿@model NaukaMVC4.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank You, @Model.Name</h1>
        @if (Model.WillAtend == true)
        {
            @:It's great that you're coming. The drinks are already in the dridge!
            }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }
    </div>
</body>
</html>
